<!-- <a href="/hospitals">Hospital Index</a> <a href="/patients">Patient Index</a> <a href="/clinics">Clinic Index</a> <a href="/doctors">Doctor Index</a> -->
<%= link_to "Hospital Index", "/hospitals" %>
<%= link_to "Patient Index", "/patients" %>
<%= link_to "Clinic Index", "/clinics" %>
<%= link_to "Doctor Index", "/doctors" %>
<h1>All Clinics</h1>

<% @clinics.each do |clinic| %>
  <h3><%= clinic.name%>: <%= clinic.created_at %> </h3>
<% end %>
