<!-- <a href="/hospitals">Hospital Index</a> <a href="/patients">Patient Index</a> <a href="/clinics">Clinic Index</a> <a href="/doctors">Doctor Index</a> -->
<%= link_to "Hospital Index", "/hospitals" %>
<%= link_to "Patient Index", "/patients" %>
<%= link_to "Clinic Index", "/clinics" %>
<%= link_to "Doctor Index", "/doctors" %>
<br><%= link_to 'Clinic-Doctor Index', "/clinics/#{@clinic.id}/doctors" %>
<a href="/clinics"></a>
<h1>Clinic Table</h1>

<p>Doctors: <%= @clinic.doctors.count %></p>
<p>id: <%= @clinic.id %></p>
<p>Name: <%= @clinic.name %></p>
<p>Open: <%= @clinic.open %></p>
<p>Computers: <%= @clinic.computers %></p>
<p>Created at: <%= @clinic.created_at %></p>
<p>Updated at: <%= @clinic.updated_at %></p>

<%= link_to "Update #{@clinic.name}", "/clinics/#{@clinic.id}/edit" %>
<br>
<%= link_to "Delete Clinic #{@clinic.name}", "/clinics/#{@clinic.id}", method: :delete %>
