<!-- <a href="/hospitals">Hospital Index</a> <a href="/patients">Patient Index</a> <a href="/clinics">Clinic Index</a> <a href="/doctors">Doctor Index</a> -->
<%= link_to "Hospital Index", "/hospitals" %>
<%= link_to "Patient Index", "/patients" %>
<%= link_to "Clinic Index", "/clinics" %>
<%= link_to "Doctor Index", "/doctors" %>
<br><%= link_to 'Clinic-Doctor Index', "/clinics/#{@clinic.id}/doctors" %>
<a href="/clinics"></a>
<h1>Clinic Table</h1>
  <table>
    <tr>
      <th>doctors</th>
      <th>id</th>
      <th>name</th>
      <th>open</th>
      <th>computers</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
    <tr>
      <td><%= @clinic.doctors.count %></td>
      <td><%= @clinic.id %></td>
      <td><%= @clinic.name %></td>
      <td><%= @clinic.open %></td>
      <td><%= @clinic.computers %></td>
      <td><%= @clinic.created_at %></td>
      <td><%= @clinic.updated_at %></td>
    </tr>
  </table>
