<a href="/clinics"></a>
<h1>Clinic Table</h1>
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>open</th>
      <th>computers</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
    <tr>
      <td><%= @clinic.id %></td>
      <td><%= @clinic.name %></td>
      <td><%= @clinic.open %></td>
      <td><%= @clinic.computers %></td>
      <td><%= @clinic.created_at %></td>
      <td><%= @clinic.updated_at %></td>
    </tr>
  </table>
