<!-- <a href="/hospitals">Hospital Index</a> <a href="/patients">Patient Index</a> <a href="/clinics">Clinic Index</a> <a href="/doctors">Doctor Index</a> -->
<%= link_to "Hospital Index", "/hospitals" %>
<%= link_to "Patient Index", "/patients" %>
<%= link_to "Clinic Index", "/clinics" %>
<%= link_to "Doctor Index", "/doctors" %>
<h1>Doctor's Attributes</h1>

<%= form_with url:  "/clinics/#{@clinic.id}/doctors?sort_by_rating=true", method: :post, local: true do |form| %>
  <%= form.label :sort_by_rating %>
  <%= form.text_field :sort_by_rating, :placeholder => '3.0' %>
  <% form.hidden_field :rating %>
  <%= form.submit "Sort Doctor Rating" %>
<% end %>
<br>
<br>
<%= link_to "Sort Alphabetically", "/clinics/#{@clinic.id}/doctors?order_alphabetically=true" %>
<br>
<%= link_to "Create Doctor", "/clinics/#{@clinic.id}/doctors/new" %>

<% @doctors.each do |doctor| %>
  <h3>Name: <%= doctor.name %></h3>
  <p>id: <%= doctor.id %></p>
  <p>Available: <%= doctor.available %></p>
  <p>Rating: <%= doctor.rating %></p>
  <%= button_to "Edit Doctor #{doctor.name}", "/clinics/#{@clinic.id}/doctors/#{doctor.id}/edit", method: :get %>
  <br>
  <%= link_to "Delete Doctor #{doctor.name}", "/clinics/#{@clinic.id}/doctors/#{doctor.id}", method: :delete %>
<% end %>
