<div class="header">
<%= link_to "Hospital Index", "/hospitals" %>
<%= link_to "Patient Index", "/patients" %>
<%= link_to "Clinic Index", "/clinics" %>
<%= link_to "Doctor Index", "/doctors" %>
<h1>Patients at <%= @hospital.name  %></h1>
</div>

<%= form_with url: "/hospitals/#{@hospital.id}/patients", method: :get, local: true do |form| %>
  <%= form.label :filter_by_age %>
  <%= form.text_field :filter_by_age %>
  <%= form.submit "Filter Patients by Age" %>
<% end %>
<br>
<br>
<%= link_to "Sort Alphabetically", "/hospitals/#{@hospital.id}/patients?order_alphabetically=true" %>
<br>
<%= link_to "Create Patient", "/hospitals/#{@hospital.id}/patients/new" %>

<% @patients.each do |patient| %>
  <h3>Name: <%= patient.name %></h3>
  <p>id: <%= patient.id %></p
  <p>Visitors: <%= patient.visitors %></p>
  <p>Age: <%= patient.age %></p>
  <%= button_to "Edit Patient #{patient.name}", "/hospitals/#{@hospital.id}/patients/#{patient.id}/edit", method: :get %>
  <br>
  <%= link_to "Delete Patient #{patient.name}", "/hospitals/#{@hospital.id}/patients/#{patient.id}", method: :delete %>
  <br>
  <br>
  <hr>
<% end %>
