<a href="/patients/:id"></a>
<h1>Patient</h1>

  <h3>name: <%= @patient.name %></h3>
  <p>id: <%= @patient.id %></p>
  <p>visitors: <%= @patient.visitors %></p>
  <p>age: <%= @patient.age %></p>
  <p>Hospital: <%= @patient.hospital_id %>
