<div class="header">
<%= link_to "Hospital Index", "/hospitals" %>
<%= link_to "Patient Index", "/patients" %>
<%= link_to "Clinic Index", "/clinics" %>
<%= link_to "Doctor Index", "/doctors" %>
<h1>All Hospitals</h1>
</div>

<%= link_to "New Hospital", "/hospitals/new" %>

<% @hospitals.each do |hospital| %>
  <h3><%= hospital.name %>: <%= hospital.created_at %></h3><br>
  <%= button_to "Edit #{hospital.name}", "/hospitals/#{hospital.id}/edit", method: :get %><br>
  <%= link_to "Delete Hospital #{hospital.name}", "/hospitals/#{hospital.id}", method: :delete %><br><br><hr>
<% end %>
