<a href="/hospitals"></a>
<h1>Hospital Table</h1>
<p><%= @hospital.name %></p>
<p><%= @hospital.max_capacity %></p>
<p><%= @hospital.beds %></p>
<p><%= @hospital.created_at %></p>
<p><%= @hospital.updated_at %></p>
<a href="/hospitals/"<%= @hospital.id %></a>
