<a href="/hospitals"></a>
<h1>Hospital Table</h1>

<p>Patients: <%= @hospital.patients.count %></p>
<p>id: <%= @hospital.id %></p>
<p>Name: <%= @hospital.name %></p>
<p>Max Capacity: <%= @hospital.max_capacity %></p>
<p>Beds: <%= @hospital.beds %></p>
<p>Created at: <%= @hospital.created_at %></p>
<p>Updated at: <%= @hospital.updated_at %></p>
