<a href="/hospitals"></a>
<h1>Hospital Table</h1>

<div id="hospital_details">

<p>id: <%= @hospital.id %></p>
<p>name: <%= @hospital.name %></p>
<p><%= @hospital.max_capacity %></p>
<p><%= @hospital.beds %></p>
<p><%= @hospital.created_at %></p>
<p><%= @hospital.updated_at %></p>
</div>
