<!-- <a href="/hospitals">Hospital Index</a> <a href="/patients">Patient Index</a> <a href="/clinics">Clinic Index</a> <a href="/doctors">Doctor Index</a> -->
<%= link_to "Hospital Index", "/hospitals" %>
<%= link_to "Patient Index", "/patients" %>
<%= link_to "Clinic Index", "/clinics" %>
<%= link_to "Doctor Index", "/doctors" %>
<a href="/doctors"></a>
<h1>All Doctors</h1>
  <table>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>available</th>
      <th>rating</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
    <tr>
      <% @doctors.each do |doctor| %>
      <ul><td><%= doctor.id %></td>
      <td><%= doctor.name %></td>
      <td><%= doctor.available %></td>
      <td><%= doctor.rating %></td>
      <td><%= doctor.created_at %></td>
      <td><%= doctor.updated_at %></td></ul>
      <% end %>
    </tr>
  </table>
