<a href="/doctors"></a>
<h1>Doctor</h1>

<p>id: <%= @doctor.id %></p>
<p>name: <%= @doctor.name %></p>
<p>available: <%= @doctor.available %></p>
<p>rating: <%= @doctor.rating %></p>
<p>created at: <%= @doctor.created_at %></p>
<p>updated at: <%= @doctor.updated_at %></p>
